*{
    margin: 0;
    padding: 0;
}
body{
    background-color: cadetblue;
    text-align: center;

}
#container{     /*agar id se laga rahe to # lagao aur class me .*/
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height:18vmin;
    width:18vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 8vmin;
    color: #333;
    background-color: white;
}
#reset{
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    align-items: center;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}
#reset-btn{
    height: 3rem;
    color: white;
    padding: 1.25rem;
    background-color: blue;
    align-items: center;
    border: #4CAF50 1px solid;
    border-radius: 0.2rem;

}
#msg{
    color: #333;
    font-size: 5vmin;
}
.msg-conatiner{
    height:20vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hide {
    display: none;
}